%rubik-bold {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%rubik-reg {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

$bgDark: #111;
$white: #fff;
$orange: #FCB500;
$grey: #ADADAD;
$black: #000;
